
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

.overlay {
  background-color: #d2b48c; /* Light brown */
  padding: 20px;
}

#btn {
  background-color: #92e3ee; 
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

button {
  margin: 20px;
  padding: 10px 50px;
  border: none;
  border-radius: 6px; 
  background-color: #b0e0e6;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}


a {
  display: block;
  margin: 20px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}
